{% extends "base.html"%}

{% block conteudo %}

    <!-- Texto -->
    <div id="texto">

        <div id="subtitulo"><h1>Entre em contato</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos esse animi, velit quam est veritatis dignissimos. Consequatur accusamus est mollitia officiis corrupti assumenda optio modi quod! Dolor repellendus rem est.</p>
    </div>
    <hr>
    <!-- Formulario -->

    <form action="/action_page.php">
        <label for="email">Seu e-mail:</label> <br>
        <input type="text" id="email" name="email"><br>

        <label for="assunto">Assunto:</label> <br>
        <input type="text" id="assunto" name="assunto"><br>

        <label for="desc">Descrição:</label><br>
        <textarea type="textarea" name="desc" id="desc"></textarea><br>

        <input type="submit" value="Submit">
    </form>



{%endblock%}