{% extends "base.html" %}

{% block conteudo %}


<!-- Corpo -->

<div id="capa">
    <img src="static/capa.png" alt="erro capa" class="triste">
</div>

<!-- Texto -->

<div id="texto">
    <div id="subtitulo"><h1>Sobre a Universidade</h1></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, inventore magni minima reiciendis ex quos atque, illo, nobis veritatis suscipit eius aliquid dolores est unde omnis corporis amet! Ex, ullam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, inventore magni minima reiciendis ex quos atque, illo, nobis veritatis suscipit eius aliquid dolores est unde omnis corporis amet! Ex, ullam.</p>

</div>

{%endblock%}