{% extends "base.html" %}

{% block conteudo %}

<!-- Quem somos -->
<div id="texto">
    <div id="subtitulo"><h1>Quem somos</h1></div>
    

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis corrupti consequuntur atque doloribus ducimus fuga adipisci temporibus, quae mollitia, ex nobis totam, cupiditate commodi? Mollitia dicta maiores facere corrupti incidunt!</p>
</div>
<!-- Lista -->

<div class="lista">
    <div id="subtitulo"><h1>5 motivos para estudar</h1></div>
    <ol>
        <li>Material sempre atualizado</li>
        <li>Tablets em sala de aula</li>
        <li>Professores renomados</li>
        <li>Universidade bem avaliada</li>
        <li>Ótima localização</li>
    </ol>

</div>

<hr>
<!-- Objetivos -->

<div id="texto">
    <div id="subtitulo"><h1>Objetivos</h1></div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias necessitatibus atque repellat aut, sunt molestiae distinctio aperiam blanditiis magnam temporibus, at quis error in recusandae deserunt voluptate quisquam voluptatem. Cum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum recusandae magnam amet, quis adipisci voluptates soluta doloremque consequuntur reprehenderit natus. Quisquam veniam obcaecati excepturi nisi amet facilis quidem est at?</p>
</div>


{%endblock%}