<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Quem-Somos</title>
</head>
<body background="imagens/topo.jpeg">
     <!-- Topo -->
     <div class="imagens/logo.jpeg">
        <img id="logo" src="imagens/logo.jpeg" alt="logo">
        <div class="link">
          <a href="/">HOME</a> |
          <a href="/quemsomos">Quem-Somos</a> |
          <a href="/contato">Contato</a>
        </div>  
    </div>

    <!-- Texto -->
    <div>
        <h1>Quem somos</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis cupiditate deleniti sequi officiis at commodi consectetur veritatis provident nam, nobis, animi numquam, sunt recusandae debitis ex tempora dolorum qui maxime. lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum at reiciendis tenetur consequuntur molestias cum doloremque! Porro fugiat architecto voluptas autem. Minima quisquam ex, tenetur mollitia perferendis rerum beatae aliquid!</p>
        <h1>5 motivos para estudar</h1>
        <p>1. Material sempre atualizado</p>
        <p>2. Tablets em sala de aula</p>
        <p>3. Professores renomados</p>
        <p>4. Universidade bem avaliada</p>
        <p>5. Ótima localização</p>
        <hr>
        <h1>Objetivos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error corporis, inventore cupiditate non recusandae perspiciatis, fuga harum voluptas dolor saepe, possimus eveniet ratione quidem rerum? Voluptas a debitis laudantium fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur repudiandae ipsam odit rerum quia magnam voluptatibus consectetur nulla possimus quaerat dicta ducimus accusamus excepturi, tempore eos et fugiat dolores consequuntur.</p>
        
        <h4>todos os direitos reservados</h4>
    </div>
</body>
</html>